In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r"D:\100 Days machine learning\Naive bayes\play_tennis.csv")

In [6]:
data.drop(columns=['day'],inplace=True)

In [7]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [8]:
# Problem 1
# outlook=Sunny,Temp=hot, Humidity=High, Wind=weak
# Play or Play?

In [9]:
# Solution
# P(Yes / Sunny, Hot,High,weak)=P(Sunny / Yes) * P(Hot / Yes) * P(High / Yes) * P(Weak / Yes) * P(Yes)
# P(No / Sunny, Hot, High, Weak)=P(Sunny / No) P(Hot / No) * P(High / No) * P(Weak / No) * P(No)
# compare and decide using the Maximum a posteriori rule

In [10]:
# Problem 2
# Outlook-overcast, Temp=CoLd, Humidity=Low, wind-weak
# Play or No Play?

In [11]:
# Solution
# P(Yes / overcast,coLd,Low,Weak)=P(overcast / Yes) * P(coLd / Yes) * P(Low / Yes) * P(weak / Yes) * P(Yes)
# P(No / Overtast,Cold, Low,Weak) =P(overcast / No)* P(CoLd / No) * P(Low I No) * P(Weak / No) * P(No)
# Compare and decide using the "Jaximum a posteriori rule

In [12]:
# Training

# Lookup Table (Dictionary)

# Testing

In [13]:
# p(Yes)
# p(No)

In [18]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [19]:
py=9/14
pn=5/14

In [21]:
print(py),
print(pn)

0.6428571428571429
0.35714285714285715

In [22]:
#outlook
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [24]:
pn_overcast=0/5
pn_rain=2/5
pn_sunny=3/5

py_overcast=4/9
py_rain=3/9
py_sunny=2/9

In [26]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [27]:
pn_cool=1/5
pn_hot=2/5
pn_mild=2/5

py_cool=3/9
py_hot=2/9
py_mild=4/9

In [28]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [29]:
pn_high=4/5
pn_normal=1/5

py_high=3/9
py_normal=6/9

In [30]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [31]:
pn_strong=3/5
pn_weak=2/5

py_strong=3/9
py_weak=6/9

In [33]:
# outlook=Sunny,Temp=hot, Humidity=High, Wind=weak
PYes=py*py_sunny*py_hot*py_high*py_weak

In [35]:
PYes

0.007054673721340388

In [36]:
PNo=pn*pn_sunny*pn_hot*pn_high*pn_weak

In [37]:
PNo

0.02742857142857143

In [39]:
#no probability is greater so NO PLAY